@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    background-color: white;
    height: 120px;
    position: fixed;
    z-index: 90;
    text-align: center;
    width: 100%
}

.navbar-links {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.navbar-logo {
    max-width: 80px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-logo:hover {
    max-width: 90px;
    margin-top: 20px;
}

.navbar-pagelink {
    margin-top: 50px;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-pagelink:hover {
    color:rgb(147, 145, 145);
}

.blocks {
    background-image: url('assets/BlackWave.png');
    width: 100%;
    height: 300px;
}

.blocks-grid {
    display: grid;
    background-color: #264653;
    grid-template-columns: 350px 350px;
    grid-gap: 45px;
    padding: 45px;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero {
    background-image: url('assets/hero-bkg.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.centered-image {
    max-width: 50%; /* Adjust based on your preference */
    margin: 90px;
}

.banner-text {
    font-size: 4em; /* Large text size */
    font-weight: 400;
}

.banner-subtext {
    font-size: 2em;
    font-weight: 300;
}